## Final Report 
### WIP

In [1]:
# Imports

# Display plots directly in the notebook instead of in a new window
%matplotlib inline

# Import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import patsy
import statsmodels.api as sm

In [2]:
# Reading in the data
df_ucb = pd.read_csv('Datasets/UC_Berkeley.csv', dtype={'date': 'str', 'word_count':int, 'school':'str'})
df_ucd = pd.read_csv('Datasets/UC_Davis.csv', dtype={'date': 'str', 'word_count':int, 'school':'str'})
df_uci = pd.read_csv('Datasets/UC_Irvine.csv', dtype={'date': 'str', 'word_count':int, 'school':'str'})
df_ucla = pd.read_csv('Datasets/UC_Los_Angeles.csv', dtype={'date': 'str', 'word_count':int, 'school':'str'})
df_ucm = pd.read_csv('Datasets/UC_Merced.csv', dtype={'date': 'str', 'word_count':int, 'school':'str'})

# Could not import Riverside word_count dtype as int; imported as string instead
df_ucr = pd.read_csv('Datasets/UC_Riverside.csv', dtype={'date': 'str', 'word_count':'str', 'school':'str'})

# Could not import San Diego word_count dtype as int; imported as string instead
df_ucsd = pd.read_csv('Datasets/UC_San_Diego.csv', dtype={'date': 'str', 'word_count':'str', 'school':'str'})

df_ucsb = pd.read_csv('Datasets/UC_Santa_Barbara.csv', dtype={'date': 'str', 'word_count':int, 'school':'str'})
df_ucsc = pd.read_csv('Datasets/UC_Santa_Cruz.csv', dtype={'date': 'str', 'word_count':int, 'school':'str'})

In [3]:
# Take a look at Berkeley
df_ucb

           date  word_count    school
0     14-May-20        2291  Berkeley
1     12-May-20         887  Berkeley
2     12-May-20         354  Berkeley
3      6-May-20         680  Berkeley
4      6-May-20         605  Berkeley
5      4-May-20         394  Berkeley
6   29-April-20         247  Berkeley
7   23-April-20         218  Berkeley
8   23-April-20         863  Berkeley
9   21-April-20         747  Berkeley
10  20-April-20         877  Berkeley
11  17-April-20         954  Berkeley
12  15-April-20         295  Berkeley
13   9-April-20         416  Berkeley
14   6-April-20         381  Berkeley
15   3-April-20         633  Berkeley
16   2-April-20         740  Berkeley
17   2-April-20         265  Berkeley
18   2-April-20         677  Berkeley
19   2-April-20         143  Berkeley
20   2-April-20         254  Berkeley
21   1-April-20         698  Berkeley
22    31-Mar-20         139  Berkeley
23    27-Mar-20         601  Berkeley
24    23-Mar-20         317  Berkeley
25    23-Mar-20         328  Berkeley
26    20-Mar-20         740  Berkeley
27    20-Mar-20         525  Berkeley
28    20-Mar-20         949  Berkeley
29    19-Mar-20         886  Berkeley
30    18-Mar-20         934  Berkeley
31    18-Mar-20         627  Berkeley
32    17-Mar-20        1236  Berkeley
33    17-Mar-20           0  Berkeley
34    16-Mar-20        1069  Berkeley
35    16-Mar-20         210  Berkeley
36    14-Mar-20         549  Berkeley
37    13-Mar-20          78  Berkeley
38    13-Mar-20         878  Berkeley
39    12-Mar-20         658  Berkeley
40    11-Mar-20         184  Berkeley
41    10-Mar-20         802  Berkeley
42     9-Mar-20         642  Berkeley
43     6-Mar-20         518  Berkeley
44     6-Mar-20        1469  Berkeley
45     6-Mar-20         312  Berkeley
46     6-Mar-20         491  Berkeley
47     6-Mar-20        1342  Berkeley
48     4-Mar-20         746  Berkeley
49     3-Mar-20         482  Berkeley
50     2-Mar-20         752  Berkeley
51     2-Mar-20         436  Berkeley
52    28-Feb-20         802  Berkeley
53    31-Jan-20         332  Berkeley
54    28-Jan-20         503  Berkeley

In [4]:
# Note: Davis had 4 empty columns at the end of its' dataframe they have been removed
df_ucd = df_ucd.drop(columns = ['Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6'])

# Take a look at Davis
df_ucd

         date  word_count school
0   31-Jan-20        1043  Davis
1    1-Feb-20          68  Davis
2    3-Feb-20         162  Davis
3    7-Feb-20          40  Davis
4   10-Feb-20          30  Davis
5   13-Feb-20          61  Davis
6   25-Feb-20          82  Davis
7   27-Feb-20          74  Davis
8   27-Feb-20         105  Davis
9   27-Feb-20          78  Davis
10  27-Feb-20          81  Davis
11  28-Feb-20         165  Davis
12  29-Feb-20          27  Davis
13  29-Feb-20         212  Davis
14  29-Feb-20         136  Davis
15   5-Mar-20         100  Davis
16   6-Mar-20          78  Davis
17   6-Mar-20          63  Davis
18   6-Mar-20         115  Davis
19   6-Mar-20          57  Davis
20   7-Mar-20         123  Davis
21   7-Mar-20         119  Davis
22   9-Mar-20          50  Davis
23  10-Mar-20         106  Davis
24  11-Mar-20          85  Davis
25  11-Mar-20          79  Davis
26  12-Mar-20          91  Davis
27  12-Mar-20         106  Davis
28  13-Mar-20         274  Davis
29  13-Mar-20          53  Davis
30  14-Mar-20         222  Davis
31  15-Mar-20         208  Davis
32  16-Mar-20         219  Davis
33  17-Mar-20          46  Davis
34  17-Mar-20         160  Davis
35  17-Mar-20          70  Davis
36  18-Mar-20          86  Davis
37  18-Mar-20          54  Davis
38  18-Mar-20          66  Davis
39  19-Mar-20          75  Davis
40  19-Mar-20          32  Davis
41  25-Mar-20          49  Davis
42   1-Apr-20         151  Davis
43   7-Apr-20          84  Davis
44  10-Apr-20        1150  Davis
45  17-Apr-20        2661  Davis
46  24-Apr-20        1520  Davis
47   1-May-20        1464  Davis

In [5]:
# Take a look at Irvine
df_uci

          date  word_count  school
0    22-Jan-20         312  Irvine
1    26-Jan-20         989  Irvine
2    27-Jan-20         167  Irvine
3    27-Jan-20         180  Irvine
4    29-Jan-20         405  Irvine
..         ...         ...     ...
100  29-Apr-20         248  Irvine
101  30-Apr-20         372  Irvine
102  30-Apr-20         148  Irvine
103  30-Apr-20        1462  Irvine
104   8-May-20         255  Irvine

[105 rows x 3 columns]

In [6]:
# Take a look at Los Angeles
df_ucla

         date  word_count       school
0   23-Jan-20         318  Los Angeles
1   31-Jan-20         434  Los Angeles
2    4-Feb-20         402  Los Angeles
3   20-Feb-20         370  Los Angeles
4   27-Feb-20         220  Los Angeles
5    2-Mar-20         402  Los Angeles
6    4-Mar-20         635  Los Angeles
7    5-Mar-20         223  Los Angeles
8    6-Mar-20         495  Los Angeles
9    6-Mar-20         241  Los Angeles
10   6-Mar-20          81  Los Angeles
11   7-Mar-20         468  Los Angeles
12  10-Mar-20         759  Los Angeles
13  12-Mar-20         401  Los Angeles
14  12-Mar-20        1260  Los Angeles
15  13-Mar-20         203  Los Angeles
16  13-Mar-20        1727  Los Angeles
17  14-Mar-20        2111  Los Angeles
18  16-Mar-20         335  Los Angeles
19  16-Mar-20         443  Los Angeles
20  17-Mar-20         850  Los Angeles
21  17-Mar-20         684  Los Angeles
22  17-Mar-20         929  Los Angeles
23  17-Mar-20         471  Los Angeles
24  18-Mar-20         131  Los Angeles
25  18-Mar-20         356  Los Angeles
26  19-Mar-20         403  Los Angeles
27  20-Mar-20        1357  Los Angeles
28  20-Mar-20         348  Los Angeles
29  20-Mar-20         955  Los Angeles
30  25-Mar-20          93  Los Angeles
31  26-Mar-20        1213  Los Angeles
32  27-Mar-20         386  Los Angeles
33   2-Apr-20         254  Los Angeles
34   2-Apr-20         295  Los Angeles
35   5-Apr-20         314  Los Angeles
36   5-Apr-20         506  Los Angeles
37   5-Apr-20         498  Los Angeles
38   6-Apr-20         166  Los Angeles
39   8-Apr-20         549  Los Angeles
40  13-Apr-20         794  Los Angeles
41  14-Apr-20         482  Los Angeles
42  28-Apr-20         668  Los Angeles
43   7-May-20         469  Los Angeles
44   7-May-20          68  Los Angeles

In [7]:
# Take a look at Merced
df_ucm

         date  word_count  school
0    4-Feb-20         190  Merced
1   28-Feb-20         457  Merced
2    6-Mar-20         468  Merced
3    8-Mar-20         411  Merced
4    9-Mar-20         489  Merced
..        ...         ...     ...
68  28-Apr-20         446  Merced
69  29-Apr-20         741  Merced
70   4-May-20         621  Merced
71   6-May-20         470  Merced
72   8-May-20         413  Merced

[73 rows x 3 columns]

In [8]:
# Take a look at Riverside
df_uci

          date  word_count  school
0    22-Jan-20         312  Irvine
1    26-Jan-20         989  Irvine
2    27-Jan-20         167  Irvine
3    27-Jan-20         180  Irvine
4    29-Jan-20         405  Irvine
..         ...         ...     ...
100  29-Apr-20         248  Irvine
101  30-Apr-20         372  Irvine
102  30-Apr-20         148  Irvine
103  30-Apr-20        1462  Irvine
104   8-May-20         255  Irvine

[105 rows x 3 columns]

In [9]:
# Take a look at San Diego
df_ucsd

         date word_count school
0   22-Jan-20        285  Diego
1   23-Jan-20        507  Diego
2   27-Jan-20        807  Diego
3   30-Jan-20        280  Diego
4   30-Jan-20        873  Diego
5   31-Jan-20       1393  Diego
6    3-Feb-20        799  Diego
7    5-Feb-20       1485  Diego
8   14-Feb-20        355  Diego
9   26-Feb-20        410  Diego
10  26-Feb-20        490  Diego
11  28-Feb-20        694  Diego
12   4-Mar-20        612  Diego
13   5-Mar-20        566  Diego
14   8-Mar-20        572  Diego
15   9-Mar-20         59  Diego
16   9-Mar-20        902  Diego
17  11-Mar-20        264  Diego
18  12-Mar-20        335  Diego
19  13-Mar-20       1379  Diego
20  13-Mar-20        348  Diego
21  13-Mar-20        592  Diego
22  16-Mar-20        252  Diego
23  16-Mar-20        482  Diego
24  16-Mar-20        843  Diego
25  17-Mar-20        938  Diego
26  18-Mar-20        322  Diego
27  18-Mar-20        204  Diego
28  19-Mar-20        659  Diego
29  20-Mar-20        202  Diego
30  20-Mar-20       1374  Diego
31  20-Mar-20        378  Diego
32  23-Mar-20       1003  Diego
33  24-Mar-20        577  Diego
34  24-Mar-20       1468  Diego
35  26-Mar-20        404  Diego
36  26-Mar-20        715  Diego
37  28-Mar-20        403  Diego
38  29-Mar-20        752  Diego
39   1-Apr-20       1428  Diego
40   2-Apr-20        620  Diego
41   2-Apr-20        318  Diego
42   2-Apr-20        504  Diego
43   2-Apr-20        538  Diego
44   2-Apr-20        786  Diego
45   6-Apr-20        330  Diego
46   7-Apr-20        494  Diego
47   9-Apr-20        461  Diego
48  20-Apr-20        439  Diego
49  28-Apr-20        836  Diego
50        NaN        NaN    NaN
51        NaN        NaN    NaN
52        NaN        NaN    NaN

In [10]:
# Dropping the empty rows at the bottom of df_ucsd
df_ucsd = df_ucsd.dropna()

# Now that the 4 rows with missing data on the bottom with the NaN values have been removed 
# We can convert word_count column back into an integer
convert_dict = {'word_count': int}
df_ucsd = df_ucsd.astype(convert_dict)

# Check out our updated df_ucsd
df_ucsd

         date  word_count school
0   22-Jan-20         285  Diego
1   23-Jan-20         507  Diego
2   27-Jan-20         807  Diego
3   30-Jan-20         280  Diego
4   30-Jan-20         873  Diego
5   31-Jan-20        1393  Diego
6    3-Feb-20         799  Diego
7    5-Feb-20        1485  Diego
8   14-Feb-20         355  Diego
9   26-Feb-20         410  Diego
10  26-Feb-20         490  Diego
11  28-Feb-20         694  Diego
12   4-Mar-20         612  Diego
13   5-Mar-20         566  Diego
14   8-Mar-20         572  Diego
15   9-Mar-20          59  Diego
16   9-Mar-20         902  Diego
17  11-Mar-20         264  Diego
18  12-Mar-20         335  Diego
19  13-Mar-20        1379  Diego
20  13-Mar-20         348  Diego
21  13-Mar-20         592  Diego
22  16-Mar-20         252  Diego
23  16-Mar-20         482  Diego
24  16-Mar-20         843  Diego
25  17-Mar-20         938  Diego
26  18-Mar-20         322  Diego
27  18-Mar-20         204  Diego
28  19-Mar-20         659  Diego
29  20-Mar-20         202  Diego
30  20-Mar-20        1374  Diego
31  20-Mar-20         378  Diego
32  23-Mar-20        1003  Diego
33  24-Mar-20         577  Diego
34  24-Mar-20        1468  Diego
35  26-Mar-20         404  Diego
36  26-Mar-20         715  Diego
37  28-Mar-20         403  Diego
38  29-Mar-20         752  Diego
39   1-Apr-20        1428  Diego
40   2-Apr-20         620  Diego
41   2-Apr-20         318  Diego
42   2-Apr-20         504  Diego
43   2-Apr-20         538  Diego
44   2-Apr-20         786  Diego
45   6-Apr-20         330  Diego
46   7-Apr-20         494  Diego
47   9-Apr-20         461  Diego
48  20-Apr-20         439  Diego
49  28-Apr-20         836  Diego

In [11]:
# Take a look at Santa Barbra
df_ucsb

         date  word_count         school
0   14-May-20        1546  Santa Barbara
1   18-Apr-20         498  Santa Barbara
2   13-Apr-20         395  Santa Barbara
3   07-Apr-20         484  Santa Barbara
4   02-Apr-20          74  Santa Barbara
5   31-Mar-20        1262  Santa Barbara
6   26-Mar-20         603  Santa Barbara
7   19-Mar-20         380  Santa Barbara
8   18-Mar-20         452  Santa Barbara
9   17-Mar-20         428  Santa Barbara
10  15-Mar-20         284  Santa Barbara
11  14-Mar-20        1338  Santa Barbara
12  12-Mar-20        1226  Santa Barbara
13  12-Mar-20         472  Santa Barbara
14  10-Mar-20         896  Santa Barbara
15  07-Mar-20        1052  Santa Barbara
16  07-Feb-20         684  Santa Barbara

In [12]:
# Take a look at Santa Cruz
df_ucsc

         date  word_count      school
0   24-Jan-20         414  Santa Cruz
1   30-Jan-20         382  Santa Cruz
2   31-Jan-20         338  Santa Cruz
3    4-Feb-20        1276  Santa Cruz
4    4-Feb-20         989  Santa Cruz
..        ...         ...         ...
62  24-Apr-20         237  Santa Cruz
63  27-Apr-20         472  Santa Cruz
64   1-May-20         876  Santa Cruz
65   4-May-20         403  Santa Cruz
66   4-May-20        1023  Santa Cruz

[67 rows x 3 columns]

In [ ]:
# concatenating the dataframes together
df = pd.concat([df_ucsc, df_ucm, df_ucd])

#looking at the entire dataframe
print(df.to_string())

In [ ]:
# The above concatenated data appears to be separated by the order they were concatenated in
# To fix this we want them to be ordered by their dates

# Set the index to order by date via the datetime on the 'date' column
df.set_index(pd.to_datetime(df['date']), inplace = True)

# Now that the index is set to datetime drop the original date column
df = df.drop(columns = ['date'])

# order the dataframe by datetime (index) 
df = df.sort_index()

df

In [ ]:
#looking at the entire dataframe
print(df.to_string())

In [ ]:
sns.distplot(df['word_count'], kde = False, bins=50)

In [ ]:
uscs_dict = df.groupby(df['school'] == 'Santa Cruz')[index]