In [1]:
import pandas as pd

#import natural language toolkit
import nltk

# get lexicon we'll be working with today
nltk.download('vader_lexicon') 

## import word tokenizer
from nltk.tokenize import word_tokenize
from nltk.sentiment.vader import SentimentIntensityAnalyzer

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\Dillon\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [9]:
allSchools = pd.read_csv('allSchools.csv')
#allSchools.content = allSchools.content.astype('str')
allSchools['content'] = allSchools['content'].apply(lambda x: x.replace('\n',' ')) 
allSchools['content'] = allSchools['content'].apply(lambda x: x.replace('\r',' '))

In [10]:
# To fix the lookup error produced by this cell
nltk.download('punkt')

# Provided code from lecture
allSchools['token'] = allSchools['content'].apply(word_tokenize) 

allSchools.head()

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Dillon\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

,school,date,content,word_count,state,month,token
0,Florida State University,28-Feb-2020,"Dear FSU Family, Florida State University con...",615,fl,2,"[Dear, FSU, Family, ,, Florida, State, Univers..."
1,Florida State University,28-Feb-2020,This message to all faculty and staff has been...,175,fl,2,"[This, message, to, all, faculty, and, staff, ..."
2,Florida State University,2-Mar-2020,The spring semester programs at Florida State ...,150,fl,3,"[The, spring, semester, programs, at, Florida,..."
3,Florida State University,3-Mar-2020,"Dear Faculty, Staff and Students, I want to u...",256,fl,3,"[Dear, Faculty, ,, Staff, and, Students, ,, I,..."
4,Florida State University,3-Mar-2020,Florida State University is taking aggressive ...,448,fl,3,"[Florida, State, University, is, taking, aggre..."

In [11]:
# To fix the lookup error produced by this cell
nltk.download('stopwords')

# import stop words
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))

# look at stop words
print(stop_words)

{'while', 'out', 'i', "you'll", 'so', "shouldn't", 'own', 'they', 'by', 'she', 'themselves', 'from', 'down', 'no', 's', "hadn't", 'isn', 'which', "doesn't", "don't", 'whom', 'above', "it's", 'other', 'mustn', 'more', 'ours', 'after', 'too', 'into', 'these', 'again', 'has', 'hasn', 'here', 'most', 'not', 'just', 'myself', 'if', 'shouldn', 'with', 'that', 'were', 'y', "you'd", 'couldn', 't', 'we', 'her', 'what', 'himself', 'our', 'did', "aren't", 'below', 'there', 'hers', 'their', 'over', 'm', 'who', 'your', 've', 'for', 'yourself', 'needn', 'does', 'up', "hasn't", 'this', 'being', 'then', "weren't", 'was', 'my', 'it', 'a', 'been', 'any', 'can', 're', 'weren', "wouldn't", 'wasn', 'you', 'about', 'nor', "that'll", 'those', 'during', 'don', 'should', 'in', 'aren', 'until', 'didn', "you're", 'how', 'o', "you've", 'when', 'further', 'doesn', 'now', "shan't", 'he', 'am', 'to', 'wouldn', 'are', 'theirs', 'is', 'yourselves', "haven't", 'on', 'same', 'why', "mightn't", 'all', 'herself', 'before', "won't", 'his', 'mightn', 'him', "she's", 'have', 'its', 'because', 'ma', 'where', "needn't", 'yours', "should've", 'ain', 'as', 'hadn', 'very', "mustn't", 'or', 'such', 'only', 'few', 'between', 'had', 'against', 'd', 'doing', 'haven', "wasn't", 'each', 'having', 'but', 'll', 'and', 'off', 'than', 'itself', 'be', 'the', 'will', 'both', 'of', 'an', 'some', 'won', "couldn't", 'under', 'me', 'at', 'do', 'shan', 'through', 'once', "isn't", 'them', 'ourselves', "didn't"}

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Dillon\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [12]:
# remove stop words
allSchools['stop'] = allSchools['token'].apply(lambda x: [item for item in x if item not in stop_words])
allSchools.head()

,school,date,content,word_count,state,month,token,stop
0,Florida State University,28-Feb-2020,"Dear FSU Family, Florida State University con...",615,fl,2,"[Dear, FSU, Family, ,, Florida, State, Univers...","[Dear, FSU, Family, ,, Florida, State, Univers..."
1,Florida State University,28-Feb-2020,This message to all faculty and staff has been...,175,fl,2,"[This, message, to, all, faculty, and, staff, ...","[This, message, faculty, staff, approved, Kyle..."
2,Florida State University,2-Mar-2020,The spring semester programs at Florida State ...,150,fl,3,"[The, spring, semester, programs, at, Florida,...","[The, spring, semester, programs, Florida, Sta..."
3,Florida State University,3-Mar-2020,"Dear Faculty, Staff and Students, I want to u...",256,fl,3,"[Dear, Faculty, ,, Staff, and, Students, ,, I,...","[Dear, Faculty, ,, Staff, Students, ,, I, want..."
4,Florida State University,3-Mar-2020,Florida State University is taking aggressive ...,448,fl,3,"[Florida, State, University, is, taking, aggre...","[Florida, State, University, taking, aggressiv..."

In [13]:
# Stemming
from nltk.stem import PorterStemmer

ps = PorterStemmer()

In [14]:
allSchools['stem'] = allSchools['stop'].apply(lambda x: [ps.stem(y) for y in x])
allSchools.head()

,school,date,content,word_count,state,month,token,stop,stem
0,Florida State University,28-Feb-2020,"Dear FSU Family, Florida State University con...",615,fl,2,"[Dear, FSU, Family, ,, Florida, State, Univers...","[Dear, FSU, Family, ,, Florida, State, Univers...","[dear, fsu, famili, ,, florida, state, univers..."
1,Florida State University,28-Feb-2020,This message to all faculty and staff has been...,175,fl,2,"[This, message, to, all, faculty, and, staff, ...","[This, message, faculty, staff, approved, Kyle...","[thi, messag, faculti, staff, approv, kyle, cl..."
2,Florida State University,2-Mar-2020,The spring semester programs at Florida State ...,150,fl,3,"[The, spring, semester, programs, at, Florida,...","[The, spring, semester, programs, Florida, Sta...","[the, spring, semest, program, florida, state,..."
3,Florida State University,3-Mar-2020,"Dear Faculty, Staff and Students, I want to u...",256,fl,3,"[Dear, Faculty, ,, Staff, and, Students, ,, I,...","[Dear, Faculty, ,, Staff, Students, ,, I, want...","[dear, faculti, ,, staff, student, ,, I, want,..."
4,Florida State University,3-Mar-2020,Florida State University is taking aggressive ...,448,fl,3,"[Florida, State, University, is, taking, aggre...","[Florida, State, University, taking, aggressiv...","[florida, state, univers, take, aggress, step,..."

In [15]:
# get series of all words after stemming
stem_allSchools = allSchools['stem'].apply(pd.Series).stack()

In [16]:
from nltk.probability import FreqDist
import string

# calculation word frequency
fdist_allSchools = FreqDist(stem_allSchools)


# remove punctuation counts
for punc in string.punctuation:
    del fdist_allSchools[punc]

In [17]:
# Frequency Distribution Plot - top 20

# for words in what students like most
fdist_allSchools.plot(20, cumulative=False)

In [18]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer 
analyser = SentimentIntensityAnalyzer()

In [19]:
# Some text taken from UC Santa Cruz's first COVID-19 update
analyser.polarity_scores(""""We know that many of you are concerned about the recent appearance of the coronavirus. 
                         Although there have been no confirmed cases on campus, we want to provide you with some 
                         information about how to protect your health.""")

{'neg': 0.054, 'neu': 0.852, 'pos': 0.095, 'compound': 0.1779}

In [20]:
# get list of the 'sentences' (responses) from each individual
allSchools_list = list(allSchools['content'].values)

In [21]:
# create function that will output dataframe 
# that stores sentiment information
def get_sentiments(input_list):
    
    output = pd.DataFrame()

    for sentence in input_list:
        ss = analyser.polarity_scores(sentence)
        ss['sentence'] = sentence
        output = output.append(ss, ignore_index=True)

    return output

In [22]:
# get sentiment measures
allSchools_sentiments = get_sentiments(allSchools_list)

In [23]:
allSchools_sentiments.head()

,compound,neg,neu,pos,sentence
0,0.9751,0.070,0.822,0.108,"Dear FSU Family, Florida State University con..."
1,0.5994,0.027,0.919,0.054,This message to all faculty and staff has been...
2,0.2023,0.025,0.946,0.030,The spring semester programs at Florida State ...
3,0.8658,0.050,0.865,0.086,"Dear Faculty, Staff and Students, I want to u..."
4,-0.9461,0.117,0.797,0.086,Florida State University is taking aggressive ...

In [24]:
allSchools_sentiments.describe()

         compound         neg         neu         pos
count  899.000000  899.000000  899.000000  899.000000
mean     0.748310    0.035892    0.857274    0.106801
std      0.503932    0.030020    0.054778    0.048610
min     -0.999100    0.000000    0.530000    0.000000
25%      0.870450    0.016000    0.823500    0.075000
50%      0.976900    0.030000    0.857000    0.106000
75%      0.993350    0.049500    0.891000    0.137000
max      0.999900    0.272000    1.000000    0.362000

In [25]:
allShools_sent = allSchools.drop(['token', 'stop'], axis = 1)\
.assign(pos = allSchools_sentiments['pos'])\
.assign(neg = allSchools_sentiments['neg'])\
.assign(neu = allSchools_sentiments['neu'])\
.assign(compound = allSchools_sentiments['compound'])

In [26]:
allShools_sent.head()

,school,date,content,word_count,state,month,stem,pos,neg,neu,compound
0,Florida State University,28-Feb-2020,"Dear FSU Family, Florida State University con...",615,fl,2,"[dear, fsu, famili, ,, florida, state, univers...",0.108,0.070,0.822,0.9751
1,Florida State University,28-Feb-2020,This message to all faculty and staff has been...,175,fl,2,"[thi, messag, faculti, staff, approv, kyle, cl...",0.054,0.027,0.919,0.5994
2,Florida State University,2-Mar-2020,The spring semester programs at Florida State ...,150,fl,3,"[the, spring, semest, program, florida, state,...",0.030,0.025,0.946,0.2023
3,Florida State University,3-Mar-2020,"Dear Faculty, Staff and Students, I want to u...",256,fl,3,"[dear, faculti, ,, staff, student, ,, I, want,...",0.086,0.050,0.865,0.8658
4,Florida State University,3-Mar-2020,Florida State University is taking aggressive ...,448,fl,3,"[florida, state, univers, take, aggress, step,...",0.086,0.117,0.797,-0.9461

In [29]:
allShools_sent.to_csv('allShools_sent.csv', index = False)

In [28]:
#pd.read_csv('allShools_sent.csv').head()

,school,date,content,word_count,state,month,stem,pos,neg,neu,compound
0,Florida State University,28-Feb-2020,"Dear FSU Family,\n\nFlorida State University c...",615,fl,2,"['dear', 'fsu', 'famili', ',', 'florida', 'sta...",0.108,0.070,0.822,0.9751
1,Florida State University,28-Feb-2020,This message to all faculty and staff has been...,175,fl,2,"['thi', 'messag', 'faculti', 'staff', 'approv'...",0.054,0.027,0.919,0.5994
2,Florida State University,2-Mar-2020,The spring semester programs at Florida State ...,150,fl,3,"['the', 'spring', 'semest', 'program', 'florid...",0.030,0.025,0.946,0.2023
3,Florida State University,3-Mar-2020,"Dear Faculty, Staff and Students,\n\nI want to...",256,fl,3,"['dear', 'faculti', ',', 'staff', 'student', '...",0.086,0.050,0.865,0.8658
4,Florida State University,3-Mar-2020,Florida State University is taking aggressive ...,448,fl,3,"['florida', 'state', 'univers', 'take', 'aggre...",0.086,0.117,0.797,-0.9461